<!DOCTYPE html>
<html>
<head>
		<title>error</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link rel="stylesheet" href="/bootstrap-3.3.5-dist/css/bootstrap.css">
		<script src="/bootstrap/js/bootstrap.js"></script>
</head>
<body>
		<h1 class="text-warning"><%= @error %></h1>
		<a href="/" class="btn btn-large btn-primary ">home</a>
</body>